<template>
  <div class="row px5 py10 mt20 br6 between-xs brdr-1 brdr-cl-gray-E5E5E5">
    <div class="blend">
      <div class="blend-img bg-cl-white">
        <product-image :image="image" />
      </div>
    </div>
    <div class="col-xs middle-xs flex flex-wrap">
      <div class="flex details">
        <div class="flex w-100 flex-wrap around-lg product-info middle-md">
          <div class="product-name">
            {{ product.name | htmlDecode }}
            <div class="cl-gray-B7B7B7 f-s-12 pt5">
              {{ "500 gm" }}
            </div>
          </div>
          <div class="product-qty">
            <span class="h5 cl-black-222222">
              {{ $t("Qty") }}
              <span class="weight-700">
                {{ product.qty }}
              </span>
            </span>
          </div>
          <div class="flex align-right center-xs prices">
            <div class="inline-flex">
              <div v-if="isOnline && product.totals">
                <span class="cl-error" v-if="product.totals.discount_amount"
                  >{{
                    (product.totals.row_total -
                      product.totals.discount_amount +
                      product.totals.tax_amount)
                      | price(storeView)
                  }}
                </span>
                <span
                  class="price-original a-bold cl-black-27272F"
                  v-if="product.totals.discount_amount"
                  >{{
                    product.totals.row_total_incl_tax | price(storeView)
                  }}</span
                >
                <span v-if="!product.totals.discount_amount" class="a-bold cl-black-27272F">{{
                  product.totals.row_total_incl_tax | price(storeView)
                }}</span>
              </div>
              <div v-else>
                <span class="cl-error" v-if="product.special_price"
                  >{{
                    (product.price_incl_tax * product.qty) | price(storeView)
                  }}
                </span>
                <span class="price-original a-bold cl-black-27272F" v-if="product.special_price">{{
                  (product.original_price_incl_tax * product.qty)
                    | price(storeView)
                }}</span>
                <span v-if="!product.special_price" class="a-bold cl-black-27272F">{{
                  (product.price_incl_tax * product.qty) | price(storeView)
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Product } from "@vue-storefront/core/modules/checkout/components/Product";
import { onlineHelper } from "@vue-storefront/core/helpers";
import ProductImage from "theme/components/core/ProductImage";
import { currentStoreView } from "@vue-storefront/core/lib/multistore";

export default {
  computed: {
    storeView() {
      return currentStoreView();
    },
    isOnline() {
      return onlineHelper.isOnline;
    },
    image() {
      return {
        loading: this.thumbnail,
        src: this.thumbnail
      };
    }
  },
  mixins: [Product],
  components: {
    ProductImage
  }
};
</script>

<style lang="scss">
.br6 {
  border-radius: 6px;
}
.price-original {
  text-decoration: line-through;
}
.blend {
  flex: 0 0 85px;
}

.details {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;

  @media (max-width: 991px) {
    .product-name {
      width: 100%;
    }
    .prices,
    .product-qty {
      width: 50%;
      margin-top: 10px;
    }
  }
}

.prices {
  flex-direction: column;
  @media (max-width: 767px) {
    padding: 0;
    font-size: 14px;
    text-align: left;
    display: block;
  }
}

.price-special {
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.price-original {
  text-decoration: line-through;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}
.product-name {
  width: 150px;
  word-break: break-all;
}
@media (max-width: 767px) {
  li {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .product-name {
    width: 100px;
    word-break: break-all;
  }
  .product-info {
    align-items: center;
  }
  .blend {
    flex: 0 0 70px;
    margin: auto;
  }
}
</style>
