<template>
  <div class="mb35 ac-px40">
    <!-- My newsletter header -->
    <div class="pb15 brdr-bottom-1 brdr-cl-gray-DDDDDD">
      <div class="row middle-xs">
        <div class="col-xs-12 my5 col-sm-6 cl-green-95BF47">
          <h3 class="m0 a-bold f-s-18 flex middle-xs">
            <img :src="'/assets/icons/Newsletter-hover.svg'" class="acc-link pr15" alt="My newsletter">
            {{ $t('Newsletter') }}
          </h3>
        </div>
      </div>
    </div>

    <!-- My newsletter body (both modes) -->
    <div class="row mt40">
      <div class="col-xs-12">
        <h4 class="m0 p0 f-s-18 cl-gray-444444 a-bold pb20">
          {{ $t('General agreement') }}
        </h4>
      </div>

      <base-checkbox
        class="col-xs-12 mb25 acc-ckbox label-f-s-16"
        id="generalAgreement"
        v-model="user.isSubscribed"
        @click="edit()"
      >
        {{ $t('I want to receive a newsletter, and agree to its terms') }}
      </base-checkbox>

      <div class="col-xs-12 col-sm-6 col-md-5 acc-btn-container">
        <button-full @click.native="updateNewsletter">
          {{ $t('Update my preferences') }}
        </button-full>
      </div>
    </div>
  </div>
</template>

<script>
import { Newsletter } from '@vue-storefront/core/modules/newsletter/components/Newsletter'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import BaseCheckbox from '../Form/BaseCheckbox.vue'
import i18n from '@vue-storefront/i18n'

export default {
  components: {
    ButtonFull,
    BaseCheckbox
  },
  data () {
    return {
    }
  },
  methods: {
    edit () {
      this.isEdited = true
    },
    async updateNewsletter () {
      if (this.user.isSubscribed) {
        const isSubscribed = await this.$store.dispatch('newsletter/subscribe', this.email)

        if (isSubscribed) {
          this.$store.dispatch('notification/spawnNotification', {
            type: 'success',
            message: i18n.t('You have been successfully subscribed to our newsletter!'),
            action1: { label: i18n.t('OK') }
          })
        }
        return
      }

      const isUnsubscribed = await this.$store.dispatch('newsletter/unsubscribe', this.email)
      if (isUnsubscribed) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t('You have been successfully unsubscribed from our newsletter!'),
          action1: { label: i18n.t('OK') }
        })
      }
    }
  },
  mixins: [Newsletter]
}
</script>
<style lang="scss">
  .acc-ckbox.label-f-s-16 label {
    font-size: 16px;
  }
</style>
