<template>
  <div class="mb35 ac-px40">
    <!-- My orders header -->
    <div class="pb15 brdr-bottom-1 brdr-cl-gray-DDDDDD">
      <div class="row middle-xs">
        <div class="col-xs-12 my5 col-sm-6 cl-green-95BF47">
          <h3 class="m0 a-bold f-s-18 flex middle-xs">
            <img :src="'/assets/icons/MyOrder-hover.svg'" class="acc-link pr15" alt="My orders">
            {{ $t('My Orders') }}
          </h3>
        </div>
      </div>
    </div>
    <!-- My orders body -->
    <div class="row pt40">
      <div class="col-xs-12" v-show="!isHistoryEmpty">
        <table class="brdr-1 brdr-cl-gray-DDDDDD">
          <thead>
            <tr class="bg-cl-white-F5F5F5">
              <th class="p20 lh20">
                {{ $t('Order ID') }}
              </th>
              <th class="p20 a-bold lh20 hide-on-xs">
                {{ $t('Date and time') }}
              </th>
              <th class="p20 a-bold lh20 hide-on-xs">
                {{ $t('Author') }}
              </th>
              <th class="p20 a-bold lh20 hide-on-xs">
                {{ $t('Value') }}
              </th>
              <th class="p20 a-bold lh20 hide-on-xs">
                {{ $t('Type') }}
              </th>
              <th class="p20 a-bold lh20 hide-on-xs">
                {{ $t('Status') }}
              </th>
              <th class="p20 a-bold lh20">&nbsp;
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="brdr-top-1 brdr-cl-bg-secondary" v-for="order in ordersHistory" :key="order.entity_id">
              <td class="f-s-14 lh25">
                #{{ order.increment_id }}
              </td>
              <td class="f-s-14 lh25 hide-on-xs">
                {{ order.created_at | date(null, storeView) }}
              </td>
              <td class="f-s-14 lh25 hide-on-xs">
                {{ order.customer_firstname }} {{ order.customer_lastname }}
              </td>
              <td class="f-s-14 lh25 hide-on-xs">
                {{ order.grand_total | price(storeView) }}
              </td>
              <td class="f-s-14 lh25 hide-on-xs">
                {{ $t('Purchase') }}
              </td>
              <td class="f-s-14 lh25 hide-on-xs">
                {{ order.status | capitalize }}
              </td>
              <td class="f-s-14 lh25">
                <span class="relative dropdown">
                  <i class="material-icons cl-gray-444444 pointer">more_horiz</i>
                  <div class="dropdown-content bg-cl-white align-left lh20">
                    <router-link class="no-underline cl-gray-444444 block py10 px15 a-medium" :to="localizedRoute(`/my-account/orders/${order.entity_id}`)">
                      {{ $t('View order') }}
                    </router-link>
                    <a href="#" class="a-medium no-underline cl-gray-444444 block py10 px15" @click.prevent="remakeOrder(skipGrouped(order.items))">{{ $t('Remake order') }}</a>
                  </div>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 mt35" v-show="isHistoryEmpty">
        <p class="m0 p0 f-s-20 cl-gray-444444 a-bold">{{ $t('No orders yet') }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import UserOrder from '@vue-storefront/core/modules/order/components/UserOrdersHistory'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  mixins: [UserOrder],
  computed: {
    storeView () {
      return currentStoreView()
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-icon-hover: color(secondary, $colors-background);
$gray-444444: color(gray-444444);
$white-EEEEEE: color(white-EEEEEE);
table {
  border-radius: 8px;
  border-collapse: collapse;
  width: 100%;
  th, td {
    text-align: center;
    padding: 20px;

    @media (max-width: 1199px) {
      padding: 5px;
    }

    @media (max-width: 767px) {
      text-align: center;
    }

    &.hide-on-xs {

      @media (max-width: 767px) {
        display: none;
      }

    }

  }

  i {
    vertical-align: middle;
  }

}

.dropdown {
  display: block;
  margin: -20px;
  padding: 20px;

  @media (max-width: 1199px) {
    margin: -10px;
    padding: 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    top: 45px;
    width: 160px;
    z-index: 1;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.14);
    border-radius: 4px;
  }

  a {
    &:hover,
    &:focus {
      background-color: $white-EEEEEE;
      opacity: 1;
    }
  }

  &:hover .dropdown-content {
    display: block;
  }

}

</style>
