<template>
  <div class="sidebar">
    <div class="sidebar__header relative f-s-20 cl-gray-444444 flex py30 brdr-bottom-1 brdr-cl-gray-E5E5E5">
      <span class="uppercase a-bold">{{ $t('Filter') }}</span>
      <span
        class="sidebar__header__clear pointer middle-xs flex cl-gray-444444 f-s-14"
        @click="resetAllFilters"
        v-show="hasActiveFilters"
      >
        <i class="material-icons cl-gray-444444 mr5">cancel</i>
        {{ $t('Clear filters') }}
      </span>
    </div>
    <div class="brdr-bottom-1 brdr-cl-gray-E5E5E5">
      <h5>{{ $t('Categories') }}</h5>
      <ul v-if="categoryInventory.length > 0" class="p0 m0 category-list">
        <li class="menu-item relative" v-for="(category, index) of categoryInventory" :key="index">
          <router-link
            class="main-menu-link menu-link no-underline"
            data-testid="categoryButton"
            :to="localizedRoute('/' + category.url_path)"
          >
            {{ category.name }}
            <span class="pull-right">({{ category.product_count }})</span>
          </router-link>
        </li>
      </ul>
    </div>
    <price-slider
      code="price"
      id="getMaxPrice"
      :from="0"
      :to="2000"
     />

    <div v-for="(filter, filterIndex) in availableFilters" :key="filterIndex" class="brdr-bottom-1 brdr-cl-gray-E5E5E5 pb20">
      <h5 :class="filterIndex">{{ $t(filterIndex + '_filter') }}</h5>

      <div class="sidebar__inline-selecors">
        <generic-selector
          context="category"
          class="mr10 mb10 flex middle-xs"
          :code="filterIndex"
          v-for="(option, index) in filter"
          :key="index"
          :variant="option"
          :selected-filters="getCurrentFilters"
          @change="$emit('changeFilter', $event)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ColorSelector from "theme/components/core/ColorSelector";
import SizeSelector from "theme/components/core/SizeSelector";
import PriceSelector from "theme/components/core/PriceSelector";
import GenericSelector from "theme/components/core/GenericSelector";
import PriceSlider from "./PriceSlider";
import pickBy from "lodash-es/pickBy";
import { mapState } from "vuex";

export default {
  components: {
    ColorSelector,
    SizeSelector,
    PriceSelector,
    GenericSelector,
    PriceSlider
  },
  props: {
    filters: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState({
      categoryList: state => state.category.list
    }),
    categoryInventory () {
      let sortArray = this.categoryList.length > 0 ? this.categoryList.filter(cat => {
        return parseInt(cat.children_count) !== 0
      }) : []
      return sortArray
    },
    hasActiveFilters() {
      return this.$store.getters["category-next/hasActiveFilters"];
    },
    getCurrentFilters() {
      return this.$store.getters["category-next/getCurrentFilters"];
    },
    availableFilters() {
      return pickBy(this.filters, (filter, filterType) => {
        return (
          filter.length &&
          !this.$store.getters["category-next/getSystemFilterNames"].includes(
            filterType
          )
        );
      });
    }
  },
  methods: {
    resetAllFilters() {
      this.$store.dispatch("category-next/resetSearchFilters");
    },
    sortById(filters) {
      return [...filters].sort((a, b) => {
        return a.id - b.id;
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.sidebar {
  &__header {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  h5 {
    font-family: "Apercu Bold";
    font-size: 16px;
    color: #666666;
    list-style: none;
  }
  .category-list {
    list-style: none;
    li {
      margin-bottom: 25px;
      a {
        display: block;
        font-family: "Apercu Regular";
        font-size: 18px;
        color: #888888;
      }
    }
  }
}
</style>
