<template>
  <div class="container mb80">
    <h3
      class="section-title f-s-25 cl-black-2E2F30 align-center mb50 a-bold"
    >{{ 'TRENDING CATEGORIES' }}</h3>
    <div class="category-container" v-if="trendingCategory.length > 0">
      <no-ssr>
        <carousel
          :per-page="2"
          :per-page-custom="[[0, 2], [576, 3], [768, 4]]"
          :mouse-drag="false"
          :pagination-enabled="true"
          :navigation-enabled="true"
          pagination-active-color="#828282"
          navigation-next-label="<img src='/assets/icons/prev.svg'/>"
          navigation-prev-label="<img src='/assets/icons/prev.svg'/>"
        >
          <slide
            class="px15 col-xs-6 col-sm-4 col-md-3"
            v-for="category of trendingCategory"
            :key="category.id"
          >
            <div class="category">
              <img :src="getcategoryUrl(category.image)" class="category-img" />
              <p class="cl-black-2E2F30 f-s-16 align-center m0 pt10">{{ category.name }}</p>
            </div>
          </slide>
        </carousel>
      </no-ssr>
    </div>
  </div>
</template>
<script>
import NoSSR from "vue-no-ssr";
import config from "config";
export default {
  name: "TrendingCategory",
  data() {
    return {
      trendingCategoryConfig: config.aureatelabs.trendingCategory.values,
      catMageUrl: config.aureatelabs.categoryUrl.path,
      trendingCategory: []
    };
  },
  components: {
    Carousel: () => import("vue-carousel").then(Slider => Slider.Carousel),
    Slide: () => import("vue-carousel").then(Slider => Slider.Slide),
    "no-ssr": NoSSR
  },
  async mounted() {
    let childCatData = await this.$store.dispatch("category/list", {
      key: "id",
      value: this.trendingCategoryConfig
    });
    this.trendingCategory =
      childCatData.items.length > 0 ? childCatData.items : [];
  },
  methods: {
    getcategoryUrl(path) {
      if (path) {
        return this.catMageUrl + path;
      }
      return "assets/category.png";
    }
  }
};
</script>
<style lang="scss" scoped>
.category {
  img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}
@media (max-width: 767px) {
  .category {
    p {
      font-size: 14px;
    }
  }
  .section-title {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
</style>
<style lang="scss">
.category-container {
  .VueCarousel-slide {
    margin: auto;
  }
}

.category-container {
  .VueCarousel {
    @media (min-width: 1366px) {
      padding: 0 60px;
    }
  }
  .VueCarousel-navigation-button {
    img {
      width: 68px;
      height: 68px;
    }
    @media (max-width: 1365px) {
      display: none;
    }
    &.VueCarousel-navigation-prev {
      transform: translateY(-50%) translateX(-14px);
    }
    &.VueCarousel-navigation-next {
      transform: translateY(-50%) translateX(14px);
      img {
        transform: rotate(180deg);
      }
    }
  }
  .VueCarousel-pagination {
    display: none;
    @media (max-width: 1365px) {
      display: block;
    }
  }
}
</style>
