<template>
  <div class="breadcrumbs f-s-14 cl-gray-AAAAAA">
    <span class="home-icon">
      <i class="fa fa-home cl-gray-AAAAAA" aria-hidden="true"></i>
    </span>
    <i class="fa fa-angle-right px10 cl-gray-AAAAAA" aria-hidden="true"></i>
    <span v-for="link in paths" :key="link.route_link">
      <router-link :to="link.route_link" class="no-underline cl-gray-AAAAAA" >
        {{ link.name | htmlDecode }}
      </router-link>
      <i class="fa fa-angle-right px10 cl-gray-AAAAAA" aria-hidden="true"></i>
    </span>
    <span class="cl-gray-444444">
      {{ current | htmlDecode }}
    </span>
  </div>
</template>

<script>
import { Breadcrumbs } from '@vue-storefront/core/modules/breadcrumbs/components/Breadcrumbs.ts'

export default {
  mixins: [Breadcrumbs]
}
</script>
