<template lang="html">
  <div class="tabs__light">
    <ul class='tabs__header'>
      <li v-for='(tab, index) in tabs'
        :key='tab.title'
        @click='selectTab(index)'
        :class='{"tab__selected": (index == selectedIndex)}'>
        {{ tab.title }}
      </li>
    </ul>
    <slot></slot>
  </div>
</template>
<script>
export default {
  data () {
    return {
      selectedIndex: 0, // the index of the selected tab,
      tabs: []         // all of the tabs
    }
  },
  created () {
    this.tabs = this.$children
  },
  mounted () {
    this.selectTab(0)
  },
  methods: {
    selectTab (i) {
      this.selectedIndex = i

      // loop over all the tabs
      this.tabs.forEach((tab, index) => {
        tab.isActive = (index === i)
      })
    }
  }
}
</script>

<style lang="scss">

  ul.tabs__header {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0 10px;
    border-bottom: 1px solid #E5E6EC;

    & > li {
      padding: 10px;
      margin: 0 40px;
      cursor: pointer;
      position: relative;
      color: #8B8B99;
      font-weight: bold;

      @media (max-width: 991px) {
        margin: 0 10px;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: transparent;
      }

      &.tab__selected {
        color: #27272F;

        &::after {
          background-color: #27272F;
        }
      }
    }
  }

  .tab {
    color: #8B8B99;
    padding: 20px 0;

    p {
      margin-top: 0;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

</style>
