<template>
  <button
    type="button"
    class="hambergur-icon bg-cl-transparent brdr-none inline-flex hidden-md cl-green-95BF47"
    @click="openSidebarMenu"
    :aria-label="$t('Open menu')"
    data-testid="menuButton"
  >
    <i class="fa fa-bars" />
  </button>
</template>

<script>
import HamburgerIcon from '@vue-storefront/core/compatibility/components/blocks/Header/HamburgerIcon'

export default {
  mixins: [HamburgerIcon]
}
</script>
<style lang="scss" scoped>
.hambergur-icon {
  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 1.5px;
    background-color: #333;
  }
}
</style>
