<template>
  <div id="category" class="bg-cl-white">
    <div class="container pb60">
      <div class="row m0 pt20 main-section">
        <div class="col-md-3 start-xs category-filters">
          <sidebar :filters="getAvailableFilters" @changeFilter="changeFilter" />
        </div>
        <transition name="left-filter"> 
        <div class="col-md-3 start-xs mobile-filters bg-cl-white" v-if="mobileFilters">
          <div class="close-container absolute">
            <i class="material-icons f-s-15 close cl-gray-444444" @click="closeFilters">close</i>
          </div>
          <sidebar class="mobile-filters-body" :filters="getAvailableFilters" @changeFilter="changeFilter" />
        </div>
        </transition>
        <div class="col-md-9 px10 border-box products-list">
          <div class="row middle-sm py20 pl20 breadcrum-div">
            <breadcrumbs class="col-md-8"/>
            <div class="sorting col-md-4 p0 end-md">
              <sort-by
                :has-label="true"
                @change="changeFilter"
                :value="getCurrentSearchQuery.sort"
              />
            </div>
          </div>
          <div class="row mobile-filter-row hidden-md py15 brdr-top-1 brdr-bottom-1 brdr-cl-gray-E5E5E5 mb30 align-center">
            <div class="col-xs-6 uppercase cl-black-2E2F30 a-bold f-s-16 brdr-right-1 brdr-cl-gray-E5E5E5" @click="openFilters">
              {{ $t('Filters') }}
            </div>
            <div class="col-xs-6 mobile-filters-sort uppercase cl-black-2E2F30 a-bold f-s-16" @click="openSortBy">
              {{ $t('Sort') }}
            </div>
            </div>
          <div v-if="isCategoryEmpty" class="hidden-xs">
            <h4 data-testid="noProductsInfo">
              {{ $t('No products found!') }}
            </h4>
            <p>{{ $t('Please change Your search criteria and try again. If still not finding anything relevant, please visit the Home page and try out some of our bestsellers!') }}</p>
          </div>
          <lazy-hydrate :trigger-hydration="!loading" v-if="isLazyHydrateEnabled">
            <product-listing :columns="defaultColumn" :products="getCategoryProducts" />
          </lazy-hydrate>
          <product-listing v-else :columns="defaultColumn" :products="getCategoryProducts" />
        </div>
      </div>
    </div>

      <transition name="bottom-filter"> 
      <div class="sorting-mobile bg-cl-white hidden-md fixed w-100" v-if="openSortBySlider">
          <sort-by
            :has-label="true"
            :type="'slider'"
            @change="changeFilter"
            :value="getCurrentSearchQuery.sort"
          />
      </div>
      </transition>
  </div>
</template>

<script>
import LazyHydrate from 'vue-lazy-hydration'
import Sidebar from '../components/core/blocks/Category/Sidebar.vue'
import ProductListing from '../components/core/ProductListing.vue'
import Breadcrumbs from '../components/core/Breadcrumbs.vue'
import SortBy from '../components/core/SortBy.vue'
import { isServer } from '@vue-storefront/core/helpers'
import { getSearchOptionsFromRouteParams } from '@vue-storefront/core/modules/catalog-next/helpers/categoryHelpers'
import config from 'config'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import { mapGetters } from 'vuex'
import onBottomScroll from '@vue-storefront/core/mixins/onBottomScroll'
import rootStore from '@vue-storefront/core/store';
import { catalogHooksExecutors } from '@vue-storefront/core/modules/catalog-next/hooks'
import { localizedRoute, currentStoreView } from '@vue-storefront/core/lib/multistore'
import { htmlDecode } from '@vue-storefront/core/filters'
import { disableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock'

const THEME_PAGE_SIZE = 50

const composeInitialPageState = async (store, route, forceLoad = false) => {
  try {
    const filters = getSearchOptionsFromRouteParams(route.params)
    const cachedCategory = store.getters['category-next/getCategoryFrom'](route.path)
    const currentCategory = cachedCategory && !forceLoad ? cachedCategory : await store.dispatch('category-next/loadCategory', { filters })
    if (!store.getters['url/isBackRoute']) {
      await store.dispatch('category-next/loadCategoryProducts', { route, category: currentCategory, pageSize: THEME_PAGE_SIZE })
    }
    const breadCrumbsLoader = store.dispatch('category-next/loadCategoryBreadcrumbs', { category: currentCategory, currentRouteName: currentCategory.name, omitCurrent: true })

    if (isServer) await breadCrumbsLoader
    catalogHooksExecutors.categoryPageVisited(currentCategory)
  } catch (e) {
    console.error('Problem with setting Category initial data!', e)
  }
}
export default {
  components: {
    LazyHydrate,
    ButtonFull,
    ProductListing,
    Breadcrumbs,
    Sidebar,
    SortBy
  },
  mixins: [onBottomScroll],
  data () {
    return {
      mobileFilters: false,
      defaultColumn: 3,
      loadingProducts: false,
      loading: true,
      openSortBySlider: false
    }
  },
  computed: {
    ...mapGetters({
      getCurrentSearchQuery: 'category-next/getCurrentSearchQuery',
      getCategoryProducts: 'category-next/getCategoryProducts',
      getCurrentCategory: 'category-next/getCurrentCategory',
      getCategoryProductsTotal: 'category-next/getCategoryProductsTotal',
      getAvailableFilters: 'category-next/getAvailableFilters'
    }),
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.includes('category-next.products')
    },
    isCategoryEmpty () {
      return this.getCategoryProductsTotal === 0
    }
  },
  async asyncData ({ store, route }) { // this is for SSR purposes to prefetch data - and it's always executed before parent component methods
    await composeInitialPageState(store, route)
  },
  async beforeRouteEnter (to, from, next) {
    if (isServer) next() // SSR no need to invoke SW caching here
    else if (!from.name) { // SSR but client side invocation, we need to cache products and invoke requests from asyncData for offline support
      next(async vm => {
        vm.loading = true
        await composeInitialPageState(vm.$store, to, true)
        await vm.$store.dispatch('category-next/cacheProducts', { route: to }) // await here is because we must wait for the hydration
        vm.loading = false
      })
    } else { // Pure CSR, with no initial category state
      next(async vm => {
        vm.loading = true
        vm.$store.dispatch('category-next/cacheProducts', { route: to })
        vm.loading = false
      })
    }
  },
  watch: {
    mobileFilters (state) {
      this.removeBodyScroll(state)
    },
    openSortBySlider (state) {
      this.removeBodyScroll(state)
    }
  },
  methods: {
    openFilters () {
      this.mobileFilters = true
      this.$store.commit('ui/setOverlay', true)
    },
    closeFilters () {
      this.mobileFilters = false
      this.$store.commit('ui/setOverlay', false)
    },
    async changeFilter (filterVariant) {
      this.$store.dispatch('category-next/switchSearchFilters', [filterVariant])
      this.closeFilters()
    },
    async onBottomScroll () {
      if (this.loadingProducts) return
      this.loadingProducts = true
      try {
        await this.$store.dispatch('category-next/loadMoreCategoryProducts')
      } catch (e) {
        console.error('Problem with fetching more products', e)
      } finally {
        this.loadingProducts = false
      }
    },
    removeBodyScroll ( state ) {
      if (state) {
        this.$nextTick(() => {
          disableBodyScroll(this.$el);
        })
      } else {
        clearAllBodyScrollLocks();
      }
    },
    openSortBy () {
      this.openSortBySlider = true
      this.$store.commit('ui/setOverlay', true)
    },
    closeSortBy () {
      this.openSortBySlider = false
      this.$store.commit('ui/setOverlay', false)
    }
  },
  metaInfo () {
    const storeView = currentStoreView()
    const { meta_title, meta_description, name, slug } = this.getCurrentCategory
    const meta = meta_description ? [
      { vmid: 'description', name: 'description', content: htmlDecode(meta_description) }
    ] : []
    const categoryLocaliedLink = localizedRoute({
      name: 'category-amp',
      params: { slug }
    }, storeView.storeCode)
    const ampCategoryLink = this.$router.resolve(categoryLocaliedLink).href

    return {
      link: [ { rel: 'amphtml', href: ampCategoryLink } ],
      title: htmlDecode(meta_title || name),
      meta
    }
  },
  beforeMount () {
    this.$bus.$on('close-mobile-filter',this.closeFilters)
    this.$bus.$on('close-sortby-filter',this.closeSortBy)
  },
  beforeDestroy () {
    this.$bus.$off('close-mobile-filter',this.closeFilters)
    this.$bus.$off('close-sortby-filter',this.closeSortBy)
  }
}
</script>

<style lang="scss" scoped>
  @import "~theme/css/animations/transitions";

.left-filter-enter-active,
.left-filter-leave-active,
.bottom-filter-enter-active,
.bottom-filter-leave-active
{
  transition: transform .25s;
}

.left-filter-enter,
.left-filter-leave-to {
  transform: translateX(100%);
}

.bottom-filter-enter,
.bottom-filter-leave-to {
  transform: translateY(100%);
}


  .category-title {
    line-height: 65px;
  }

  .sorting {
    label {
      margin-right: 10px;
    }
  }

  @media (max-width: 767px) {
    .category-title {
      margin: 0;
      font-size: 36px;
      line-height: 40px;
    }

    .products-list {
      width: 100%;
      max-width: none;
    }

    .mobile-filters {
      display: block;
    }

    .mobile-filters-button {
      display: block;
      height: 45px;
    }

    .sorting {
      display: none;
    }

    .mobile-sorting {
      display: block;
    }

    .category-filters {
      display: none;
    }

    .product-listing {
      justify-content: center;;
    }

    .mobile-filters {
      position: fixed;
      z-index: 5;
      padding: 0 40px 40px;
      right: 0;
      max-width: 357px;
      width: 100%;
      height: 100vh;
      top: 0;
      overflow-y: auto;
      overflow-x: hidden;
      box-sizing: border-box;
      -webkit-overflow-scrolling: touch;
      box-shadow: -2px 0 10px 0 rgba(0,0,0,0.15);
    }
  }

  .close-container {
    left: 10px;
    top: 10px;
    z-index: 5;
    padding: 5px;
    i {
      vertical-align: middle;
    }
  }

  .close {
    margin-left: auto;
  }

  .mobile-filter-row {
    width: calc(100% + 36px);
    left: -18px;
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .sorting-mobile {
    bottom: 0;
    z-index: 5;
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,0.15);
  }

  @media (max-width: 767px) {
    .main-section {
      padding-top: 0;    
    }
    .products-list {
      .breadcrum-div {
        padding: 25px 0;
      }
    }
  }
</style>
<style lang="scss">
.product-image {
  max-height: unset !important;
}
@media (max-width: 767px) {
  .mobile-filters-body {
    .sidebar__header {
      font-size: 16px;
      padding:16px 40px;
      margin-left: -40px;
      margin-right: -40px;
      &__clear {
        i {
          font-size: 15px;
        }
      }
    }
  }
}
</style>
