<template>
  <div id="home">
     <h1>Hii Banner Data</h1>
    <div class="media-gallery-carousel">
      <no-ssr>
        <carousel
          :per-page="1"
          :mouse-drag="true"
          :navigation-enabled="true"
          pagination-active-color="#828282"
          pagination-color="transparent"
          navigation-next-label="<i class='material-icons p15 cl-bg-tertiary'>keyboard_arrow_right</i>"
          navigation-prev-label="<i class='material-icons p15 cl-bg-tertiary'>keyboard_arrow_left</i>"
        >
          <slide v-for="item in getBannerList" :key="item.src" class="relative">
            <div class="row center-xs">
              {{ item.title }}
              <img :src="item.image" alt="home slider" class="img-cover" />
            </div>
          </slide>
        </carousel>
      </no-ssr>
    </div>   
    <!-- <ul>
      <li v-for="item in getBannerList" :key="item.id">
        {{ item.title }}
      </li>
    </ul> -->
    <head-image />
    <top-selectional />
    <trending-category />
    <home-static-block />
    <top-sellers />
    <save-upto />
    <Onboard />
  </div>
</template>
<script>
import NoSSR from "vue-no-ssr";
// query constructor
import { isServer, onlineHelper } from "@vue-storefront/core/helpers";
import LazyHydrate from "vue-lazy-hydration";
// Core pages
import Home from "@vue-storefront/core/pages/Home";
// Theme core components
import ProductListing from "theme/components/core/ProductListing";
import HeadImage from "theme/components/core/blocks/MainSlider/HeadImage";
import ShippingInfo from "theme/components/core/blocks/MainSlider/ShippingInfo";
import TopSelectional from "theme/components/core/blocks/Product/TopSelectional";
import TrendingCategory from "theme/components/core/blocks/Category/TrendingCategory";
import TopSellers from "theme/components/core/blocks/Category/TopSellers";
import SaveUpto from "theme/components/core/blocks/Category/SaveUpto";
// Theme local components
import Onboard from "theme/components/theme/blocks/Home/Onboard";
import { Logger } from "@vue-storefront/core/lib/logger";
import { mapGetters } from "vuex";
import config from "config";
import { registerModule } from "@vue-storefront/core/lib/modules";
import { RecentlyViewedModule } from "@vue-storefront/core/modules/recently-viewed";
import HomeStaticBlock from "theme/components/theme/blocks/Static/HomeStaticBlock";
export default {
  data() {
    return {
      loading: true
    };
  },
  mixins: [Home],
  components: {
    Carousel: () =>
      import(/* webpackChunkName: "vue-carousel" */ "vue-carousel").then(
        Slider => Slider.Carousel
      ),
    Slide: () =>
      import(/* webpackChunkName: "vue-carousel" */ "vue-carousel").then(
        Slider => Slider.Slide
      ),
    HeadImage,
    Onboard,
    ShippingInfo,
    TopSelectional,
    TrendingCategory,
    HomeStaticBlock,
    LazyHydrate,
    SaveUpto,
    TopSellers,
    "no-ssr": NoSSR
  },
  // created:function(){
  //    this.$store.dispatch('banner/list')
  //     },
  // async created() {
  //   await this.$store
  //     .dispatch("country/getCountrylist", { skipCache: true })
  //     .then(res => {
  //       console.log("counrty Data :", res);
  //     });
  // },
      async created() {
    await this.$store
      .dispatch("country/Countrylist", { skipCache: true })
      .then(res => {
        console.log("country", res);
      });
    let sliderObj = this.$store.getters["country/getCountryList"] || [];
    console.log("country data :", sliderObj);
      },
  computed: {
    ...mapGetters("user", ["isLoggedIn"]),
    ...mapGetters("banner", ["getBannerList"]),
    // categories() {
    //   return this.getCategories;
    // },
    // isOnline() {
    //   return onlineHelper.isOnline;
    // },
    // isLazyHydrateEnabled() {
    //   return config.ssr.lazyHydrateFor.some(field =>
    //     ["homepage", "homepage.new_collection"].includes(field)
    //   );
    // }
  }
  // beforeCreate () {
  //   registerModule(RecentlyViewedModule)
  // },
  // async beforeMount () {
  //   if (this.$store.state.__DEMO_MODE__) {
  //     const onboardingClaim = await this.$store.dispatch('claims/check', { claimCode: 'onboardingAccepted' })
  //     if (!onboardingClaim) { // show onboarding info
  //       this.$bus.$emit('modal-toggle', 'modal-onboard')
  //       this.$store.dispatch('claims/set', { claimCode: 'onboardingAccepted', value: true })
  //     }
  //   }
  // },
  // mounted () {
  //   if (!this.isLoggedIn && localStorage.getItem('redirect')) this.$bus.$emit('modal-show', 'modal-signup')
  // },
  // watch: {
  //   isLoggedIn () {
  //     const redirectObj = localStorage.getItem('redirect')
  //     if (redirectObj) this.$router.push(redirectObj)
  //     localStorage.removeItem('redirect')
  //   }
  // },
  // async asyncData ({ store, route }) { // this is for SSR purposes to prefetch data
  //   debugger;
  //   Logger.info('Calling asyncData in Home (theme)')()

  //   await Promise.all([
  //     store.dispatch('bannerModule/list'),
  //     store.dispatch('promoted/updateHeadImage'),
  //     store.dispatch('promoted/updatePromotedOffers')
  //   ])
  // },
  // beforeRouteEnter (to, from, next) {
  //   console.log("agghadghahd shasdjhhashj")
  //   if (!isServer && !from.name) { // Loading products to cache on SSR render
  //     next(vm =>
  //       vm.$store.dispatch('bannerModule/list').then(res => {
  //         vm.loading = false
  //       })
  //     )
  //   } else {
  //     next()
  //   }
  // }
};
</script>

<style lang="scss" scoped>
.new-collection {
  @media (max-width: 767px) {
    padding-top: 0;
  }
}
</style>
<style lang="scss">
.VueCarousel-slide.hover-on-product {
  border: 1px solid transparent;
  .product:hover {
    background: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}
.home-slides {
  .image-slide {
    & > img {
      min-height: 200px;
    }
  }
}
@media (max-width: 767px) {
  .head-image {
    margin-bottom: 200px;
  }
  .custom-carousel {
    .home-slides {
      max-height: inherit;
    }
  }
}
</style>
<style lang="scss" scoped>
.new-collection {
  @media (max-width: 767px) {
    padding-top: 0;
  }
  .media-gallery-carousel {
    position: relative;
    text-align: center;
    height: 100%;
  }
}
</style>
<style lang="scss">
.media-gallery-carousel,
.media-zoom-carousel {
  .VueCarousel-pagination {
    position: absolute;
    bottom: 15px;
    @media (max-width: 767px) {
      display: none;
    }
  }
  .VueCarousel-navigation-button {
    margin: 0;
    transform: translateY(-50%) !important;
  }
  .VueCarousel-slide {
    backface-visibility: unset;
  }
  .VueCarousel-navigation {
    opacity: 0;
    &--disabled {
      display: none;
    }
  }
  .VueCarousel-dot {
    padding: 8px !important;
    button {
      border: 2px solid #828282;
    }
  }
  &:hover {
    .VueCarousel-navigation {
      opacity: 0.9;
    }
    .VueCarousel-navigation-button {
      transition: opacity 3s;
      &:after {
        background-color: transparent;
      }
    }
  }
}
</style>
