<template>
  <div id="my_account">
    <div class="container mt50 pb70">
      <div class="row px20 pt0">
        <div class="col-md-4 col-lg-3 hidden-xs hidden-sm block px40 py20 brdr-1 brdr-cl-gray-DDDDDD sm-container h-100">
          <nav class="static-menu h4">
            <ul class="m0 p0 acc-menu-links">
              <li
                class="py20"
                v-for="(page, index) in navigation"
                :key="index"
                @click="notify(page.title)"
              >
                <router-link
                  :to="localizedRoute(page.link)"
                  class="cl-gray-AAAAAA f-s-18 no-underline"
                  :class="{ 'a-bold': $route.path === page.link }"
                >
                  <span class="acc-link">
                    <img :src="page.icon" class="menu-icon" :alt="page.title" />
                    <img :src="page.hoverIcon" class="menu-hover-icon" :alt="page.title" />
                  </span>
                  {{ page.title }}
                </router-link>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-md-8 col-lg-9 mt50">
          <mobile-account-menu />
          <no-ssr>
            <component :is="this.$props.activeBlock" />
          </no-ssr>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MyAccount from "@vue-storefront/core/pages/MyAccount";
import MyProfile from "../components/core/blocks/MyAccount/MyProfile";
import MyShippingDetails from "../components/core/blocks/MyAccount/MyShippingDetails";
import MyNewsletter from "../components/core/blocks/MyAccount/MyNewsletter";
import MyOrders from "../components/core/blocks/MyAccount/MyOrders";
import MyOrder from "../components/core/blocks/MyAccount/MyOrder";
import MyRecentlyViewed from "../components/core/blocks/MyAccount/MyRecentlyViewed";
import NoSSR from "vue-no-ssr";
import { RecentlyViewedModule } from "@vue-storefront/core/modules/recently-viewed";
import { registerModule } from "@vue-storefront/core/lib/modules";
import MobileAccountMenu from "../components/theme/MobileAccountMenu";

export default {
  data () {
    return {
      navigation: [
        {
          title: this.$t("My Profile"),
          link: "/my-account",
          icon: "/assets/icons/user.svg",
          hoverIcon: "/assets/icons/user-hover.svg"
        },
        {
          title: this.$t("Delivery Details"),
          link: "/my-account/shipping-details",
          icon: "/assets/icons/DeliveryDetails.svg",
          hoverIcon: "/assets/icons/DeliveryDetails-hover.svg"
        },
        {
          title: this.$t("Newsletter"),
          link: "/my-account/newsletter",
          icon: "/assets/icons/Newsletter.svg",
          hoverIcon: "/assets/icons/Newsletter-hover.svg"
        },
        {
          title: this.$t("My Orders"),
          link: "/my-account/orders",
          icon: "/assets/icons/MyOrder.svg",
          hoverIcon: "/assets/icons/MyOrder-hover.svg"
        },
        // {
        //   title: this.$t("My Reward Points"),
        //   link: "#",
        //   icon: "/assets/icons/review-product.svg",
        //   hoverIcon: "/assets/icons/review-product-hover.svg"
        // },
        // {
        //   title: this.$t("My Product Reviews"),
        //   link: "#",
        //   icon: "/assets/icons/review.svg",
        //   hoverIcon: "/assets/icons/review-hover.svg"
        // },
        {
          title: this.$t("Recently Viewed Products"),
          link: "/my-account/recently-viewed",
          icon: "/assets/icons/viewed-product.svg",
          hoverIcon: "/assets/icons/viewed-product-hover.svg"
        }
      ]
    };
  },
  components: {
    MyProfile,
    MyShippingDetails,
    MyNewsletter,
    MyOrders,
    MyOrder,
    MyRecentlyViewed,
    "no-ssr": NoSSR,
    MobileAccountMenu
  },
  beforeCreate () {
    registerModule(RecentlyViewedModule);
  },
  mixins: [MyAccount],
  methods: {
    notify (title) {
      if (title === "My loyalty card" || title === "My product reviews") {
        this.$store.dispatch("notification/spawnNotification", {
          type: "warning",
          message: this.$t(
            "This feature is not implemented yet! Please take a look at https://github.com/DivanteLtd/vue-storefront/issues for our Roadmap!"
          ),
          action1: { label: this.$t("OK") }
        });
      }
    }
  }
};
</script>
<style lang="scss">
@import "~theme/css/base/text";
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$green-95BF47: color(green-95BF47);
$gray-E5E5E5: color(gray-E5E5E5);
$black-222222: color(black-222222);
$blue-02AFCE: color(blue-02AFCE);
.static-menu {
  ul {
    list-style: none;
  }
  a {
    display: flex;
    align-items: center;

    &:hover,
    &.router-link-exact-active {
      color: $green-95BF47;

      .acc-link {
        .menu-hover-icon {
          display: block;
        }

        .menu-icon {
          display: none;
        }
      }

    }
  }
}
.sm-container {
  border-radius: 10px;
}
.acc-link {
  padding-right: 20px;

  .menu-hover-icon {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    padding-right: 15px;
  }
}

@media (max-width: 768px) {
  .acc-menu-links {
    li {
      a {
        font-size: 12px;
      }
    }
  }
  .acc-link {
    vertical-align: middle;
  }
}

.edit-my-profile,
.my-shipping-details {
  .no-input-icon {
    border: 0 !important;
    input {
      font-size: 16px;
      border-bottom: 1px solid $gray-E5E5E5 !important;
      color: $black-222222 !important;
      padding: 0;
    }
  }
}

.acc-ckbox {
  input:checked + label:before {
    background-color: $blue-02AFCE;
    border-color: $blue-02AFCE;
  }
  input:checked + label:after {
    content: '';
    background-color: $blue-02AFCE;
    width: 6px;
    height: 4px;
    top: 11px;
    left: 4px;
    border-width: 2px;
  }
  label {
    font-size: 14px;
    color: $black-222222;

    &::before {
      width: 15px;
      height: 15px;
      top: 7px;
      border-radius: 2px;
    }
  }
}
.acc-btn-container {
  button {
    background-color: $green-95BF47;
    padding: 15px 0 !important;
    text-transform: uppercase;
  }
}
.ac-px40 {
  padding: 0 40px;
  @media (max-width: 767px) {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .acc-menu-links {
    li {
      padding: 15px 0;
      a {
        font-size: 16px;
      }
    }
  }
}
</style>
