<template>
  <div class="flex shipping-info bg-cl-white py25 brdr-1 brdr-cl-gray-E5E5E5">
    <div class="ship-inside flex middle-xs brdr-ship">
      <img src="/assets/icons/truck.svg" alt="Free shipping">
      <div class="ship-content">
        <p class="f-s-16 cl-black-2E2F30 uppercase a-bold">
          Free Shipping
        </p>
        <p class="f-s-16 cl-gray-888888 a-light">
          Free shipping on first order
        </p>
      </div>
    </div>
    <div class="ship-inside flex middle-xs brdr-ship">
      <img src="/assets/icons/hand-dollar.svg" alt="Money Return">
      <div class="ship-content">
        <p class="f-s-16 cl-black-2E2F30 uppercase a-bold">
          Money Return
        </p>
        <p class="f-s-16 cl-gray-888888 a-light">
          Back guarantee under 7 days
        </p>
      </div>
    </div>
    <div class="ship-inside flex middle-xs">
      <img src="/assets/icons/Shape.svg" alt="Online support">
      <div class="ship-content">
        <p class="f-s-16 cl-black-2E2F30 uppercase a-bold">
          Online Support 24/7
        </p>
        <p class="f-s-16 cl-gray-888888 a-light">
          Free shipping on all order
        </p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ShippingInfo'
}
</script>
<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$white-e: color(white-EEEEEE);
.shipping-info {
  justify-content: center;
  border-radius: 14px;
  box-shadow: 0 10px 15px -10px rgba(0,0,0,0.15);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(50%);
  max-width: 1140px;
  margin: 0 auto;
  .ship-inside {
    padding: 0px 50px;
    @media (max-width: 991px) {
      padding: 0px 20px;
    }
  }
  @media (max-width: 1172px) {
    margin: 0 16px;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    padding: 0px 15px 0px 15px;
    .ship-inside {
      padding: 25px 0px 25px 0px;
    }
  }
  .brdr-ship {
    border-right: 1px solid $white-e;
    @media (max-width: 767px) {
      border-bottom: 1px solid $white-e;
      border-right: 0;
    }
  }
}
.ship-content {
  margin-left: 15px;
  p {
    padding: 0;
    margin: 0;
  }
  @media (max-width: 767px) {
    p:nth-child(2) {
      font-size: 14px;
    }
  }
}
</style>
