<template>
  <div class="container mb50">
    <div class="gallery" v-if="blocks.length > 0">
      <div class="gallery__item" v-for="(block, index) of blocks" :key="index">
        <img
          :src="block.src"
          :alt="block.name"
          class="gallery__img"
          lazy="loading"
        >
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'HomeStaticBlock',
  data () {
    return {
      blocks: [
        {
          name: 'fresh-vegetable-salad',
          src: '/assets/blocks/fresh-vegetable-salad.png'
        },
        {
          name: 'fresh-vegetable-salad',
          src: '/assets/blocks/anna-pelzer-IGfIGP5ONV0.png'
        },
        {
          name: 'fresh-vegetable-salad',
          src: '/assets/blocks/vegetables.png'
        },
        {
          name: 'fresh-vegetable-salad',
          src: '/assets/blocks/vegetables2.png'
        },
        {
          name: 'fresh-vegetable-salad',
          src: '/assets/blocks/anna-pelzer-4.png'
        },
        {
          name: 'fresh-vegetable-salad',
          src: '/assets/blocks/fresh-vegetable-salad.png'
        },
        {
          name: 'fresh-vegetable-salad',
          src: '/assets/blocks/anna-pelzer-IGfIGP5ONV0.png'
        },
        {
          name: 'fresh-vegetable-salad',
          src: '/assets/blocks/vegetables.png'
        },
        {
          name: 'fresh-vegetable-salad',
          src: '/assets/blocks/fresh-vegetable-salad.png'
        }
      ]
    };
  }
};
</script>
<style lang="scss" scoped>
.gallery {
  line-height: 0;
   -webkit-column-count: 3;
   -webkit-column-gap:   30px;
   -moz-column-count:    3;
   -moz-column-gap:      30px;
   column-count:         3;
   column-gap:           30px;
}

.gallery__img {
 width: 100% !important;
  height: auto !important;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .gallery {
   -webkit-column-count: 1;
   -moz-column-count:    1;
   column-count:         1;
}
}

</style>
