<template>
  <div class="microcart relative bg-cl-white" data-testid="microcart">
    <transition name="fade">
      <div v-if="isEditMode" class="overlay" @click="closeEditMode" />
    </transition>
    <div class="row bg-cl-white px40 top-back-link">
      <div class="cb-action no-underline py20" @click="closeMicrocartExtend">
        <router-link class="f-s-18 no-underline cl-black-27272F" :to="''">
          <span class="cl-blue-02AFCE pr15"
            ><i class="fa fa-angle-left" aria-hidden="true"></i
          ></span>
          {{ "Continue Shopping" }}
        </router-link>
      </div>
    </div>
    <div class="row middle-xs px40 cart-title">
      <div class="col-xs-12 align-center py20">
        <h2
          v-if="productsInCart.length"
          class="cl-black-27272F a-bold f-s-30 m0"
        >
          {{ $t("Shopping Cart") }}
        </h2>
      </div>
    </div>

    <h4 v-if="!productsInCart.length" class="cl-accent ml30">
      {{ $t("Your shopping cart is empty.") }}
    </h4>
    <div
      v-if="!productsInCart.length"
      class="ml30"
      @click="closeMicrocartExtend"
    >
      {{ $t("Don't hesitate and") }}
      <router-link :to="localizedRoute('/')">
        {{ $t("browse our catalog") }}
      </router-link>
      {{ $t("to find something beautiful for You!") }}
    </div>
    <ul
      v-if="productsInCart.length"
      class="m0 px40 pb40 products"
    >
      <product
        v-for="product in productsInCart"
        :key="product.server_item_id || product.id"
        :product="product"
      />
    </ul>
    <div v-if="productsInCart.length" class="summary px40 bg-cl-white-FAFAFA">
      <h3
        class="m0 pt30 pb20 f-s-20 a-bold cl-black-222222 summary-heading brdr-bottom-1 brdr-cl-gray-E5E5E5"
      >
        {{ $t("Shopping Summary") }}
      </h3>
      <div
        v-for="(segment, index) in totals"
        :key="index"
        class="row py15 f-s-18 cl-black-666666"
        v-if="segment.code !== 'grand_total'"
      >
        <div class="col-xs">
          {{ segment.title }}
          <button
            v-if="appliedCoupon && segment.code === 'discount'"
            type="button"
            class="p0 brdr-none bg-cl-transparent close delete-button ml10"
            @click="clearCoupon"
          >
            <i class="material-icons cl-accent">
              close
            </i>
          </button>
        </div>
        <div v-if="segment.value != null" class="col-xs align-right">
          {{ segment.value | price(storeView) }}
        </div>
      </div>
      <div class="row py30">
        <div v-if="OnlineOnly" class="col-xs-12 coupon-wrapper">
          <div class="coupon-input">
            <base-input
              type="text"
              :placeholder="'Add a discount code'"
              id="couponinput"
              :autofocus="true"
              :label-remove="true"
              v-model.trim="couponCode"
              @keyup.enter="setCoupon"
            />
          </div>
          <button-outline
            color="dark"
            :disabled="!couponCode"
            @click.native="setCoupon"
          >
            {{ $t("Add discount code") }}
          </button-outline>
        </div>
      </div>

      <div
        class="row"
        v-for="(segment, index) in totals"
        :key="index"
        v-if="segment.code === 'grand_total'"
      >
        <div class="col-xs f-s-18 a-bold total-price-label">
          {{ segment.title }}
        </div>
        <div
          class="col-xs align-right f-s-22 a-bold cl-gray-444444 total-price-value"
        >
          {{ segment.value | price(storeView) }}
        </div>
      </div>
      <div
        class="row py40 middle-xs actions end-xs ck-links"
        v-if="productsInCart.length && !isCheckoutMode"
      >
        <div class="col-xs-5 col-md-3">
          <router-link
            :to="localizedRoute('/')"
            class="no-underline cl-blue-02AFCE link"
          >
            <span @click="closeMicrocartExtend">
              {{ $t("Return to shopping") }}
            </span>
          </router-link>
        </div>
        <div class="col-xs-7 col-md-5">
          <button-full
            class="a-bold f-s-16 uppercase"
            :link="{ name: 'checkout' }"
            @click.native="closeMicrocartExtend"
          >
            {{ $t("Go to checkout") }}
          </button-full>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import i18n from "@vue-storefront/i18n";
import { isModuleRegistered } from "@vue-storefront/core/lib/modules";
import { currentStoreView } from "@vue-storefront/core/lib/multistore";

import VueOfflineMixin from "vue-offline/mixin";
import onEscapePress from "@vue-storefront/core/mixins/onEscapePress";
import InstantCheckout from "src/modules/instant-checkout/components/InstantCheckout.vue";
import { registerModule } from "@vue-storefront/core/lib/modules";

import BaseInput from "theme/components/core/blocks/Form/BaseInput";
import ClearCartButton from "theme/components/core/blocks/Microcart/ClearCartButton";
import ButtonFull from "theme/components/theme/ButtonFull";
import ButtonOutline from "theme/components/theme/ButtonOutline";
import Product from "theme/components/core/blocks/Microcart/Product";
import EditMode from "./EditMode";
import { InstantCheckoutModule } from "src/modules/instant-checkout";

export default {
  components: {
    Product,
    ClearCartButton,
    ButtonFull,
    ButtonOutline,
    BaseInput,
    InstantCheckout
  },
  mixins: [VueOfflineMixin, EditMode, onEscapePress],
  data() {
    return {
      addCouponPressed: false,
      couponCode: "",
      componentLoaded: false,
      isInstantCheckoutRegistered: isModuleRegistered("InstantCheckoutModule")
    };
  },
  props: {
    isCheckoutMode: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  beforeCreate() {
    registerModule(InstantCheckoutModule);
  },
  mounted() {
    this.$nextTick(() => {
      this.componentLoaded = true;
    });
  },
  computed: {
    ...mapGetters({
      productsInCart: "cart/getCartItems",
      appliedCoupon: "cart/getCoupon",
      totals: "cart/getTotals",
      isOpen: "cart/getIsMicroCartOpen"
    }),
    storeView() {
      return currentStoreView();
    }
  },
  methods: {
    ...mapActions({
      applyCoupon: "cart/applyCoupon"
    }),
    addDiscountCoupon() {
      this.addCouponPressed = true;
    },
    clearCoupon() {
      this.$store.dispatch("cart/removeCoupon");
      this.addCouponPressed = false;
    },
    toggleMicrocart() {
      this.$store.dispatch("ui/toggleMicrocart");
    },
    async setCoupon() {
      const couponApplied = await this.applyCoupon(this.couponCode);
      this.addCouponPressed = false;
      this.couponCode = "";
      if (!couponApplied) {
        this.$store.dispatch("notification/spawnNotification", {
          type: "warning",
          message: i18n.t(
            "You've entered an incorrect coupon code. Please try again."
          ),
          action1: { label: i18n.t("OK") }
        });
      }
    },
    closeMicrocartExtend() {
      this.toggleMicrocart();
      this.$store.commit("ui/setSidebar", false);
      this.addCouponPressed = false;
    },
    onEscapePress() {
      this.toggleMicrocart();
    },
    clearCart() {
      this.$store.dispatch("notification/spawnNotification", {
        type: "warning",
        message: i18n.t(
          "Are you sure you would like to remove all the items from the shopping cart?"
        ),
        action1: { label: i18n.t("Cancel"), action: "close" },
        action2: {
          label: i18n.t("OK"),
          action: async () => {
            // We just need to clear cart on frontend and backend.
            // but cart token can be reused
            await this.$store.dispatch("cart/clear", { disconnect: false });
          }
        },
        hasNoTimeout: true
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~theme/css/animations/transitions";
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";

$blue-02AFCE: color(blue-02AFCE);
$white: color(white);

.close {
  i {
    opacity: 0.6;
  }
  &:hover,
  &:focus {
    i {
      opacity: 1;
    }
  }
}

.mt0 {
  @media (max-width: 767px) {
    margin-top: 0;
  }
}

.products {
  @media (max-width: 767px) {
    padding: 0 20px;
  }
}

// .actions {
//   @media (max-width: 767px) {
//     padding: 0 15px;
//   }
//   .link {
//     @media (max-width: 767px) {
//       display: flex;
//       justify-content: center;
//       padding: 20px 70px;
//       &.checkout {
//         margin-top: 55px;
//         padding: 0;
//       }
//     }
//   }
// }

.summary {
  @media (max-width: 767px) {
    padding: 0 15px;
    font-size: 12px;
  }
}

.summary-heading {
  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.total-price-label {
  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.total-price-value {
  @media (max-width: 767px) {
    font-size: 24px;
  }
}

.delete-button {
  vertical-align: middle;
}

.coupon-wrapper {
  display: flex;

  .button-outline {
    text-transform: inherit;
    width: 50%;
  }

  .coupon-input {
    margin-right: 20px;
    width: 100%;
  }
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

@media (max-width: 767px) {
   .top-back-link {
     background: $blue-02AFCE;
     padding-left: 20px;
     .cb-action {
       a,i {
         color: $white;
       }
     }
   }
   .cart-title {
     h2 {
       font-size: 16px;
     }
   }
   .summary {
     & > div {
       padding-top:10px;
       padding-bottom: 10px;
       font-size: 12px;
     }
   }
   .total-price-label,
   .total-price-value {
     font-size: 13px;
   }

}

</style>
<style lang="scss">
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$gray-E5E5E5: color(gray-E5E5E5);
$black-222222: color(black-222222);
$green-95BF47: color(green-95BF47);
$white: color(white);
$gray-AAAAAA: color(gray-AAAAAA);
.coupon-input {
  .base-input {
    min-height: unset !important;
    .no-input-icon {
      border: 0;
    }
    input {
      border: 0;
      border-bottom: 1px solid $gray-E5E5E5 !important;
      color: $black-222222;
      &::placeholder {
        color: $gray-AAAAAA;
        font-size: 16px;
      }
      @media (max-width: 767px) {
        font-size: 14px;
        &::placeholder {
          font-size: 12px;
        }
      }
    }
  }
}
.coupon-wrapper {
  .coupon-input {
    .base-input {
      input {
        min-height: unset;
        border-bottom: 1px solid $gray-E5E5E5;
      }
    }
  }
  .button-outline {
    min-width: unset !important;
    color: $black-222222;
    text-transform: uppercase !important;
    height: unset;
    @media (max-width: 767px) {
      padding: 0;
    }
  }
}
.ck-links {
  .button-full {
    min-width: unset !important;
    border-radius: 6px;
    background: $green-95BF47;
    color: $white;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media (max-width: 767px) {
    padding-bottom: 20px !important;
    .button-full {
      padding-top: 14px;
      padding-bottom: 14px;
      font-size: 14px;
    }
  }
}
</style>
