<template>
  <li class="row my20 p5 bg-cl-white brdr-1 brdr-cl-gray-E5E5E5 relative">
    <div class="product-remove">
      <remove-button @click="removeItem" />
    </div>
    <div class="blend">
      <div class="blend-img bg-cl-white">
        <product-image :image="image" />
      </div>
    </div>
    <div class="col-xs middle-xs flex flex-wrap">
      <div class="flex flex-nowrap details">
        <div class="flex w-100 flex-wrap around-xs product-info middle-md">
          <div class="product-name">
            <router-link
              class="a-bold f-s-16 cl-black-27272F name no-underline"
              :to="productLink"
              data-testid="productLink"
              @click.native="$store.commit('ui/setMicrocart', false)"
            >
              {{ product.name | htmlDecode }}
            </router-link>
            <div class="h6 pt5 cl-error" v-if="hasProductErrors">
              {{ product.errors | formatProductMessages }}
            </div>
            <div class="h6 pt5 cl-success" v-if="hasProductInfo && !hasProductErrors">
              {{ product.info | formatProductMessages }}
            </div>
            <div class="gray-B7B7B7 f-s-12 pt5">
              {{ "500 gm" }}
            </div>
          </div>
          <div class="product-qty">
            <qty-select class="px25" :qty="product.qty" />
          </div>
          <div class="flex align-right center-xs prices">
            <div class="prices inline-flex" v-if="!displayItemDiscounts || !isOnline">
              <span
                class="a-bold cl-black-27272F price-special"
                v-if="product.special_price"
              >
                {{ (product.price_incl_tax * product.qty) | price(storeView) }}
              </span>
              <span
                class="a-bold cl-black-27272F price-original"
                v-if="product.special_price"
              >
                {{
                  (product.original_price_incl_tax * product.qty)
                    | price(storeView)
                }}
              </span>
              <span
                class="a-bold cl-black-27272F price-regular"
                v-else
                data-testid="productPrice"
              >
                {{
                  ((product.original_price_incl_tax
                    ? product.original_price_incl_tax
                    : product.price_incl_tax) *
                    product.qty)
                    | price(storeView)
                }}
              </span>
            </div>
            <div class="prices inline-flex" v-else-if="isOnline && product.totals">
              <span
                class="a-bold cl-green-95BF47 price-special"
                v-if="product.totals.discount_amount"
              >
                {{
                  (product.totals.row_total -
                    product.totals.discount_amount +
                    product.totals.tax_amount)
                    | price(storeView)
                }}
              </span>
              <span
                class="a-bold cl-black-27272F price-original"
                v-if="product.totals.discount_amount"
              >
                {{ product.totals.row_total_incl_tax | price(storeView) }}
              </span>
              <span
                class="a-bold cl-black-27272F price-regular"
                v-if="!product.totals.discount_amount"
              >
                {{ product.totals.row_total_incl_tax | price(storeView) }}
              </span>
            </div>
            <div class="prices" v-else>
              <span class="a-bold cl-black-27272F price-regular">
                {{
                  ((product.regular_price || product.price_incl_tax) *
                    product.qty)
                    | price(storeView)
                }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</template>

<script>
import { mapActions } from "vuex";
import config from "config";
import { currentStoreView } from "@vue-storefront/core/lib/multistore";
import { formatProductLink } from "@vue-storefront/core/modules/url/helpers";
import Product from "@vue-storefront/core/compatibility/components/blocks/Microcart/Product";

import ProductQuantity from "theme/components/core/ProductQuantity.vue";
import ProductImage from "theme/components/core/ProductImage";
import ColorSelector from "theme/components/core/ColorSelector.vue";
import SizeSelector from "theme/components/core/SizeSelector.vue";
import RemoveButton from "./RemoveButton";
import EditButton from "./EditButton";
import { onlineHelper } from "@vue-storefront/core/helpers";
import { ProductOption } from "@vue-storefront/core/modules/catalog/components/ProductOption";
import {
  getThumbnailForProduct,
  getProductConfiguration
} from "@vue-storefront/core/modules/cart/helpers";
import ButtonFull from "theme/components/theme/ButtonFull";
import EditMode from "./EditMode";
import QtySelect from "theme/components/core/blocks/Form/QtySelect.vue";

export default {
  data() {
    return {
      maxQuantity: 0,
      quantityError: false,
      isStockInfoLoading: false
    };
  },
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  components: {
    RemoveButton,
    ProductImage,
    ColorSelector,
    SizeSelector,
    EditButton,
    ButtonFull,
    ProductQuantity,
    QtySelect
  },
  mixins: [Product, ProductOption, EditMode],
  computed: {
    hasProductInfo() {
      return this.product.info && Object.keys(this.product.info).length > 0;
    },
    hasProductErrors() {
      const errors = this.product.errors || {};
      const errorsValuesExists =
        Object.keys(errors).filter(errorKey => errors[errorKey]).length > 0;
      return errorsValuesExists;
    },
    isTotalsActive() {
      return (
        this.isOnline &&
        !this.editMode &&
        this.product.totals &&
        this.product.totals.options
      );
    },
    isOnline() {
      return onlineHelper.isOnline;
    },
    productsAreReconfigurable() {
      return (
        config.cart.productsAreReconfigurable &&
        this.product.type_id === "configurable" &&
        this.isOnline
      );
    },
    displayItemDiscounts() {
      return config.cart.displayItemDiscounts;
    },
    image() {
      return {
        loading: this.thumbnail,
        src: this.thumbnail
      };
    },
    thumbnail() {
      return getThumbnailForProduct(this.product);
    },
    configuration() {
      return getProductConfiguration(this.product);
    },
    productLink() {
      return formatProductLink(this.product, currentStoreView().storeCode);
    },
    editMode() {
      return this.getEditingProductId === this.product.id;
    },
    productQty() {
      return this.editMode ? this.getEditingQty : this.product.qty;
    },
    isSimpleOrConfigurable() {
      return ["simple", "configurable"].includes(this.product.type_id);
    },
    isUpdateCartDisabled() {
      return (
        this.quantityError ||
        this.isStockInfoLoading ||
        (this.isOnline && !this.maxQuantity && this.isSimpleOrConfigurable)
      );
    },
    storeView() {
      return currentStoreView();
    }
  },
  methods: {
    updateProductVariant() {
      this.updateVariant();
      this.closeEditMode();
    },
    updateProductQty(qty) {
      if (this.editMode) {
        this.editModeSetQty(qty);
        return;
      }

      this.updateQuantity(qty);
    },
    removeFromCart() {
      this.$store.dispatch("cart/removeItem", { product: this.product });
    },
    updateQuantity(quantity) {
      this.$store.dispatch("cart/updateQuantity", {
        product: this.product,
        qty: quantity
      });
    },
    async getQuantity(product) {
      if (this.isStockInfoLoading) return; // stock info is already loading
      this.isStockInfoLoading = true;
      try {
        const validProduct = product || this.product;
        const res = await this.$store.dispatch("stock/check", {
          product: validProduct,
          qty: this.productQty
        });
        return res.qty;
      } finally {
        this.isStockInfoLoading = false;
      }
    },
    handleQuantityError(error) {
      this.quantityError = error;
    },
    async changeEditModeFilter(filter) {
      const editedProduct = this.getEditedProduct(filter);
      const maxQuantity = await this.getQuantity(editedProduct);
      if (!maxQuantity) {
        this.$store.dispatch("notification/spawnNotification", {
          type: "error",
          message: this.$t(
            "The product is out of stock and cannot be added to the cart!"
          ),
          action1: { label: this.$t("OK") }
        });
      } else if (maxQuantity < this.productQty) {
        this.$store.dispatch("notification/spawnNotification", {
          type: "error",
          message: this.$t(
            "Only {maxQuantity} products of this type are available!",
            { maxQuantity }
          ),
          action1: { label: this.$t("OK") }
        });
      } else {
        this.maxQuantity = maxQuantity;
        this.editModeSetFilters(filter);
      }
    }
  },
  watch: {
    isOnline: {
      async handler(isOnline) {
        if (isOnline) {
          const maxQuantity = await this.getQuantity();
          this.maxQuantity = maxQuantity;
        }
      },
      immediate: true
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
li {
  border-radius: 6px;
}
.blend {
  flex: 0 0 85px;
}

.image {
  mix-blend-mode: multiply;
  vertical-align: top;
  width: 150px;
  @media (max-width: 767px) {
    width: 100px;
  }
}

.details {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
}

.name {
  @media (max-width: 767px) {
    font-size: 13px;
  }
}

.options,
.sku {
  @media (max-width: 767px) {
    font-size: 10px;
  }
}

.qty {
  padding-right: 30px;

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.actions {
  margin: 0 -5px;
}

.prices {
  flex-direction: column;
  @media (max-width: 767px) {
    padding: 0;
    font-size: 14px;
    width: 100%;
    text-align: left;
    margin-top: 5px;
    display: block;
  }
}

.price-special {
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.price-original {
  text-decoration: line-through;
}

input {
  width: 30px;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.filters {
  flex: 1 1 200px;
}

.update-button {
  font-size: 14px;
  min-width: 150px;
  width: 150px;
  padding: 10px;
}

.product-remove {
  position: absolute;
  top: -12px;
  left: -12px;
  bottom: 0;
  display: inline-block;
}
.product-name {
    width: 150px;
    word-break: break-all;
  }
@media (max-width: 767px) { 
  li {
    margin-top: 0;
    margin-bottom: 15px; 
  }
  .product-name {
    width: 105px;
    word-break: break-all;
  }
  .product-info {
    align-items: center;
  }
  .product-qty {
    .main-qty {
      padding-left: 25px;
      padding-right: 25px;
      font-size: 12px;
    }
  }
  .product-remove { 
    top: -9px;
    left: -9px;
  }
  .blend {
    flex: 0 0 70px;
    margin: auto;
  }
}
</style>
