<template>
  <button @click="$emit('click')" class="brdr-none">
    <i  class="modal-close material-icons f-s-20">close</i>
  </button>
</template>
<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$blue-02AFCE: color(blue-02AFCE);
$white: color(white);
button {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background: $blue-02AFCE;
  padding: 3px;
  i {
    color: $white;
  }
  @media (max-width: 767px) {
    height: 20px;
    width: 20px;
    padding: 1px;
    i {
      font-size: 18px;
    }
  }
}
</style>
